#header-editor{
  padding: 13px;
  // margin: 10px;
  display: flex;
  flex-direction: row;
  h4{
    margin: 2px;
  }
  #btn-n-note{
    align-self: center;
    border-radius: 3px;
    margin: 0px 5px;
    cursor: pointer;
    padding: 6px 12px;
    background-color: #79c2de;
    color: white;
    font-weight: bold;
  }
  .auth{
    display: flex;
    flex-direction: row;
    #avatar{
      img{
        width: 30px;
        height: 30px;
      }
    }
    #name-auth{
      font-size: 12px;
      padding: 5px;
    }
    #wr-ar-lo{
      color: white;
      background-color: #9e9191;
      font-size: 13px;
      padding: 4px 8px;
      border-radius: 4px;
      height: 27px;
      cursor: pointer;
    }
    #btn-login{
      align-self: center;
      border-radius: 3px;
      margin: 0px 5px;
      padding: 5px 12px;
      background-color: #80b59e;
      font-weight: bold;
      color: white;
      cursor: pointer;
    }
  }

  #con-r{
    #btn-d-no{
      align-self: center;
      border-radius: 3px;
      margin: 0px 5px;
      padding: 5px 12px;
      background-color: #e79a7f;
      font-weight: bold;
      color: white;
      cursor: pointer;
    }
  }
}

.wrap-search{
  margin-left: 15px;
  .input-search{
    width: 360px;
    height: 32px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-content: stretch;
  height: 100%;
  width: 100%;
}

main .sidebar-note {
  width: 245px;
  background-color: #f4f5f7;
  flex: 0 0 auto;
  .inner-list-note{
    height: 100%;
    display: flex;
    flex-direction: column;
    #header-ln{
      background-color: #fffcf5;
      margin-top: 0px;
      margin-bottom: 0px;
      padding: 10px;
      border-bottom: 1px solid #f2d3a2;
      border-right: 1px solid #f2d3a2;
    }
    .wr-hei-note{
      flex: 1;
      height: 100%;
      display: flex;
      flex-direction: column;
      overflow: scroll;
      .list-note{
        .active{
          background-color: #ade5cd;
        }
        .note-c{
          display: flex;
          flex-direction: row;
          min-height: 69px;
          border-bottom: 1px solid #c0c0c0;
          padding-top: 2px;
          padding-left: 2px;
          font-size: 14px;
          .text{
            padding: 2px;
          }
          .image-s{
            width: 50px;
            height: 20px;
            img{
              max-width: 100px;
              max-height: 63px;
            }
          }
        }
      }
    }
  }
}
main .main-note {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  height: 100%;
  .editor{
    flex: 1;
    height: calc(100% - 93px);
    .wrap-editor{
      flex: 1;
      height:  100%;
      .toolbar{
        flex: 0 1 auto;
      }
      .area-scroll{
        flex: 1;
        display: flex;
        overflow-y: scroll;
        .RichEditor-root{
          flex: 1;
        }
      }
    }
    .quill {
      height: 100%;
      display: flex;
      flex-direction: column;
      .ql-container{
        height: 100%;
        overflow-y: scroll;
        font-size: 16px;
        .ql-editor{
          img{
            max-width: 100%;
            height: auto;
          }
          pre.ql-syntax{
            background-color: #fbfbfb;
            color: black;
            border: 1px solid #C0C0C0;
          }
        }
      }
    }
  }
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="16px"]::before {
  content: 'Normal';
  font-size: 16px !important;
}
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="18px"]::before {
  content: 'Large';
  font-size: 18px !important;
}
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="20px"]::before {
  content: 'Huge';
  font-size: 20px !important;
}

.area-login{
  .recomme{
    .icon-home{
      height: 150px;
      margin-bottom: 20px;
    }
    .guide-l{
      display: flex;
      .btn-login{
        padding-top: 32px;
        padding-left: 20px;
      }
    }
  }
  #login-github{
    background-color: #040404;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
  }  
}
